body {
  background-color: #e6fffd;
}

#grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  padding-top: 48px;
}

#grid div {
  width: 100px;
  height: 100px;
  background-color: #afe1ff;
  border-radius: 24px;
  padding: 30px;
  display: flex;
}
